<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>Sprite test</title>
		<link rel="stylesheet/less" type="text/css" href="style.less" />
	</head>
	<body>
		<canvas id="screen"></canvas>
		<div id="GUI">
			<div class="panel" id="status">
				<div>
					Money: <span id="cash">2500</span>$
				</div>
			</div>
			<!--<a href="#" class="btn" id="open-units-menu-btn">Units</a>
			<div id="cash">2500$</div>-->
			<div id="panel-pic" class="panel">

			</div>
			<div id="panel-status" class="panel">

			</div>
			<div id="panel-actions" class="panel">

			</div>
		</div>

	</body>
	<!-- templates -->
	<script type="text/template" id="t_actions">
		{% for (var i in o.actions) { %}
			<a href="#" data-action="{%=o.actions[i].name%}" class="action"><img src="{%=o.actions[i].img%}" alt="{%=o.actions[i].name%}" title="{%=o.actions[i].title%}" /></a>
		{% } %}
	</script>

	<script type="text/template" id="t_factory_status">
		<div class="factory-status">
			<a href="#" data-queueid="0", class="queue-item next">
				{% if (o.queue.length != 0) { %}
					<img src="{%= o.queue[0].thumb %}" />
				{% } %}
			</a>
			<div>
				<div class="progress-bar"></div>
				<div class="queue">
				{% for(var i = 1 ; i < o.queueLength ; i++) { %}
					<a href="#" data-queueid="{%= i %}" class="queue-item">
					{% if (i < o.queue.length) { %}
						<img src="{%= o.queue[i].thumb %}" />
					{% } %}
					</a>
				{% } %}
				</div>
			</div>
		</div>
	</script>

	<script src="lib/less.js" type="text/javascript"></script>
	<script src="lib/require.js" type="text/javascript" data-main="src/main"></script>
</html>
